frequency: 30
sensor_timeout: 0.1
transform_time_offset: 0.0
transform_timeout: 0.0
print_diagnostics: true
debug: false
two_d_mode: true
smooth_lagged_data: true 
history_length: 1.57
# initial_state: [0.82, 0.09, 0.0, 
#                 0.0, 0.0, 1.570761, 
#                 0.0, 0.0, 0.0, 
#                 0.0, 0.0, 0.0, 
#                 0.0, 0.0, 0.0]
# initial_estimate_covariance: [0.003, 0.003, 0.003, 
#                               0.003, 0.003, 0.003, 
#                               0.003, 0.003, 0.003, 
#                               0.003, 0.003, 0.003, 
#                               0.003, 0.003, 0.003]

  # values: 
  # [X,Y,Z,
  # roll,pitch,yaw,
  # Xdot,Ydot,Zdot,
  # roll_dot,pitch_dot,yaw_dot,
  # Xdd,Ydd,Zdd]

map_frame: map              
odom_frame: odom            
base_link_frame: chassis  
world_frame: odom          

# pose0: /gps
# pose0_config: [true,  true,  false,
#                false, false, true,
#                false, false, false,
#                false, false, false,
#                false, false, false]
# pose0_queue_size: 10
# pose0_pose_rejection_threshold: 0.357 #0.375 # 1.5m/s * 0.25s                

imu0: /realsense/imu
imu0_config: [false, false, false,
              true,  true,  true,
              false, false, false,
              true,  true,  true, 
              true,  true,  true]
# imu0_config: [false, false, false,
#               true,  true,  true,
#               false, false, false,
#               false,  false,  false, 
#               false,  false,  false]
imu0_nodelay: false
imu0_differential: false
imu0_relative: false
# imu0_queue_size: 10
imu0_pose_rejection_threshold: 0.8                 
imu0_twist_rejection_threshold: 0.8                
imu0_linear_acceleration_rejection_threshold: 0.8
imu0_remove_gravitational_acceleration: false

# imu1: /car1/imu
# # imu1_config: [false, false, false,
# #               true,  true,  true,
# #               false, false, false,
# #               true,  true,  true, 
# #               true,  true,  true]
# imu1_config: [false, false, false,
#               true,  true,  true,
#               false, false, false,
#               false,  false,  false, 
#               false,  false,  false]

odom0: /odom
odom0_config: [true, true, false,
              false, false, false,
              false, false, false,
              false, false, false,
              false,  false,  false]
odom0_differential: true

# odom1: /odom1
# odom1_config: [false, false, false,
#                false, false, false,
#                true, true, false,
#                false, false, false,
#                false, false, false]

# odom2: /odom
# odom2_config: [true, true, false,
#                false, false, false,
#                false, false, false,
#                false, false, false,
#                false, false, false]



