<launch>

  <!-- <rosparam command="load" file="$(find control)/config/gps_config.yaml" /> -->
  <!-- <node pkg="control" type="bridge" name="localization_bridge" output="screen"> </node> -->
  <rosparam command="load" file="$(find mpc)/scripts/config/mpc_config2.yaml" />
  <rosparam command="load" file="$(find mpc)/scripts/config/mpc_config_park.yaml" />
  <arg name="sign" default="false"/>
  <arg name="ekf" default="false"/>
  <arg name="lane" default="false"/>

  <node pkg="mpc" type="controller" name="mpc_controller" output="screen"> 
    <param name="sign" value="$(arg sign)"/>
    <param name="ekf" value="$(arg ekf)"/>
    <param name="lane" value="$(arg lane)"/>
  </node>
</launch>
