<launch>

  <include file="$(find mpc)/launch/bridge.launch" />
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true">
    <rosparam command="load" file="$(find mpc)/config/ekf.yaml" />
  </node>
  <!-- <node pkg="mpc" type="localization_plot.py" name="localization_plot" output="screen"> </node> -->

</launch>
